 First class of sql